.hero-section .hero-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-section .image-container {
  width: 100%;
  max-width: 350px;
  flex-shrink: 0;
}

.hero-section .image-container img {
  width: 100%;
  height: 100%;
}

@media (max-width: 720px) {
  .hero-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-section .image-container {
    width: 140px;
    max-width: 40%;
    margin-top: 1rem;
  }
}