.detail-page {
    display: grid;
    margin: 0 auto;
}

.detail-page p {
    color: #fdfeff;
}

.finished-product-section {
    background-color: #fdfeff;
    margin: 0 auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.some-images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #fdfeff;
}

.image-slider-product {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 1120px);
    height: auto;
    gap: 2rem;
    padding: 2rem;
}

.image-slider-product .slider-image {
    height: 40rem;
    width: 100%;
    display: block;
    object-fit: contain;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-left, .button-right {
    background: none;
    border: none;
    cursor: pointer;
    height: 4rem;
}

.button-left img, .button-right img {
    width: 2rem;
    height: 2rem;
}

.process-section {
    margin: 0 auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.process-section h2 {
    color: #fdfeff;
}


.image-slider-process {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    gap: 2rem;
    padding: 2rem;
}

.image-slider-process .slider-image {
    display: block;
    object-fit: contain;
    width: 40%;
    height: auto;
}

/* .process-section {
    display: grid;
    gap: 2rem;   
    align-items: center;
    justify-content: center;
    width: 100%;
}

.process-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: none;
    width: min(100% - 2rem, 1120px);    
    margin: 0 auto;
    gap: 2rem;
}

.process-images {
    width: 100%;
    height: auto;
    border-radius: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
