.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fdfeff;
}

.project-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
}

.project-card + .project-card {
  border-top: 1px solid #d1d5db;
  padding-top: 2rem;
  margin-top: 2rem;
}

.project-card img {
  height: auto;
  width: 45%;
  aspect-ratio: 10 / 10;
  object-fit: cover;
}

.project-card-content {
  padding: 1.1rem;
}

.project-card a {
  color: #4b7e54;
  font-weight: 800;
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 720px) {
  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-card:nth-child(even) {
    flex-direction: column;
  }

  .project-card img {
    max-width: 100%;
  }
}